
# Kafka
KAFKA_BOOTSTRAP_SERVERS=172.23.27.133:9092
KAFKA_GROUP_ID=doc_group
KAFKA_TOPIC=biz_post_list_szr


DIFY_API_URL=http://172.23.27.133:8680/v1
DIFY_API_TOKEN=dataset-ZvEv1ALsxRZDGw5lLrNAmDEc
MAX_WORKERS=5
POLL_TIMEOUT=1.0
METADATA=meta_key_param


# ======================
# 配置
# ======================
ES_HOSTS = ["http://172.23.27.133:9200"]
INDEX_NAME = "biz_post_list_szr"
USERNAME=elastic
PASSWORD=easymer@es@2023