version: '3.9'

services:
  embedding-server:
    image: bill73777/embedding-server:1.0
    ports:
      - "8888:8888"
    volumes:
      - /data/ai/models:/models
    env_file:
      - .env
    restart: always
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all